.tagline {
	padding:10px;
}
.intro {
	margin-bottom:30px;
	text-align:center;
}
.descriptions {
	text-align:center;
}
#nav {
	margin-top:10px;
}
#nav h5 {
	text-align:right;
	margin-right:25px;
}
#nav ul {
	margin-top:107px;
}
#nav li {
	display:inline;
}
.menu-image {
    width:auto;
    height:24px;
}
#header {
	text-align:center;
}
